body {
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: 'Oswald';
}

p {
  font-family: 'Open Sans';
}

img {
  float: left;
}

div {
  display: inline-block;
  width: 300px;
}

#left {
  float: left;
}

#center {
}

#right {
  float: right;
}