body {
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: 'Oswald';
}

div {
  display: inline;
  float: left;
  width: 300px;
}

img {
  width: 100px;
}

p {
  font-family: 'Open Sans';
}